<div id="<%= dom_id goal %>">
  <p>
    <strong>Target amount:</strong>
    <%= goal.target_amount %>
  </p>

  <p>
    <strong>Current amount:</strong>
    <%= goal.current_amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= goal.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= goal.name %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= goal.deadline %>
  </p>

</div>
